.cardHolder {
  display: flex;
  justify-content: space-between;
  font-family: inter;
  width: 48%;
  margin: 1%;
  height: 140px;
  margin-top: 4%;
  background-color: white;
  border-radius: 10%;
  padding: 2%;
  box-shadow: 0 0 49px 0 rgba(18, 66, 101, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cardHolder {
    width: 100%;
    margin: 5px 0;
  }
}

.itemDetails h5 {
  color: #000000;
  font-weight: 600;
  font-size: 30px;
}
.itemDetails p {
  color: #555555;
  font-weight: 500;
  font-size: 22px;
}

.quantityAndSigns {
  gap: 30px;
}

.cakeImages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cakeImages img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
