.menuDetails {
  margin-top: 4%;
  text-align: center;
  font-family: inter;
}

.menuDetails > p {
  color: #ff6868;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.menuDetails > h1 {
  color: #000000;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

.mainMenuStyle {
  display: flex;
  justify-content: space-between;
}
.menuRectangleBackground {
  width: 250px;
  height: 250px;
  margin-top: 4%;
  background-color: white;
  border-radius: 10%;
  padding: 2%;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
}
.menuCircleBackground {
  width: 120px;
  height: 120px;
  background-color: #c1f1c6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.detailsStyle {
  text-align: center;
  font-family: inter;
  margin-top: 9%;
  line-height: 20px;
}

.detailsStyle h5 {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 30px;
}
.detailsStyle p {
  color: #555555;
  font-weight: 500;
  font-size: 22px;
}
