.menuDetails {
  font-family: inter;
  margin-top: 6%;
}

.menuDetails1 {
  text-align: center;
}

.menuDetails1 > p,
.secondMenuDetails > p {
  color: #ff6868;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.menuDetails1 > h1,
.standOutDishes {
  color: #000000;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

.mainMenuStyle {
  display: flex;
  justify-content: space-between;
}

.menuRectangleBackground {
  width: 250px;
  height: 250px;
  margin-top: 4%;
  background-color: white;
  border-radius: 10%;
  padding: 2%;
  box-shadow: 0 0 49px 0 rgba(18, 66, 101, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menuRectangleBackground:hover,
.standoutRectangleBackground:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menuCircleBackground {
  width: 120px;
  height: 120px;
  background-color: #c1f1c6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.detailsStyle {
  text-align: center;
  margin-top: 9%;
  line-height: 20px;
}

.detailsStyle h5,
.standoutRectangleBackground h5 {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 30px;
}

.detailsStyle p,
.standoutRectangleBackground p {
  color: #555555;
  font-weight: 500;
  font-size: 22px;
}

.secondMenuDetails {
  font-family: inter;
  margin-top: 12%;
}

.menuDetails2 {
  display: flex;
  justify-content: space-between;
}

.arrowIcons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.arrowIconsBackgroundRight,
.arrowIconsBackgroundLeft {
  width: 50px;
  height: 50px;
  background-color: #39db4a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: 800;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arrowIconsBackgroundLeft {
  background-color: #efefef;
  color: #39db4a;
}

.arrowIconsBackgroundLeft:hover,
.arrowIconsBackgroundRight:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.standoutDishesMenu {
  display: flex;
  justify-content: space-between;
}

.standoutRectangleBackground {
  width: 380px;
  height: 410px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0 0 49px 0 rgba(18, 66, 101, 0.08);
  text-align: center;
  margin-top: 5%;
  position: relative;
}
.standoutRectangleBackground > img {
  padding: 8%;
}

.standoutRectangleBackground h5 {
  padding: 4%;
  text-align: left;
  line-height: 12px;
}
.standoutRectangleBackground p {
  padding-left: 4%;
  text-align: left;
}

.ratingAndPrice {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  align-items: center;
}

.ratingAndPrice .price {
  font-size: 30px;
  align-items: center;
}

.ratingAndPrice .rating {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.favouriteDish {
  width: 50px;
  height: 40px;
  align-items: right;
  background-color: #39db4a;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 2%;
  box-shadow: 0 0 49px 0 rgba(18, 66, 101, 0.08);
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}
